
.row-red {
    background-color: red !important;
    color: white !important;
}

.row-yellow {
    background-color: yellow !important; 
}

.row-blue {
    background-color: blue  !important;
    color: white !important;
}

.row-white {
    background-color: white !important;
}