.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.sectionContainer{
    display: flex;
    width: 200px;
    height: 100%;
    border: 1px solid #e0e0e0;
    padding: 10;
}

.products_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.products_container table {
    border-spacing: 0;
}

.table{
    border-collapse: separate; /* Needed to enable border-spacing */
    border-spacing: 0 10px; 
    width: 100%;
    gap: 20px;
}

.tableHead, .tableBody, .totalContainer{
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    table-layout: fixed;
    padding: 20px;
    text-align: center;
}



.tableBody{
    margin-bottom: 10px; /* Spacing between rows */
}

.table tbody tr + tr {
    margin-top: 10px;
}

.tableHead th,
.tableBody td,
.totalContainer td {
    padding: 20px;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping in cells */
    margin-bottom: 20px;
    width: 50px;
    white-space: normal;
}

.tableHead th{
    box-shadow: 1px 2px 5px rgb(245, 1, 1); /* Subtle shadow between rows */
    margin-bottom: 10px;
    border: 1px solid #d6d1d1;
     white-space: nowrap;
}

.tableBody td:first-child{
    border: 1px solid #e0e0e0;
    font-weight: bolder;
}

.totalContainer td{
    box-shadow: 1px 2px 5px rgb(245, 1, 1);
    border: 1px solid #d6d1d1;
}

.totalContainer td{
    content: "";
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .sectionContainer{
        width: 100%;
    }
    .tableWrapper {
        overflow-x: auto; /* Enables only the table to scroll horizontally */
    }

    .table {
        min-width: 600px; /* Minimum width to trigger scrolling */
    }

    .products_container{
        width: 100%;
    }

    .tableHead th,
    .tableBody td,
    .totalContainer td {
        padding: 0;
        text-align: center;
    }

    .tableHead th{
        box-shadow: 1px 2px 3px rgb(245, 1, 1); /* Subtle shadow between rows */
        margin-bottom: 10px;
        border: 1px solid #d6d1d1;
        white-space: nowrap;
    }

    .tableBody td:first-child{
        border: 1px solid #e0e0e0;
        font-weight: bolder;
    }

    .totalContainer td{
        box-shadow: 1px 2px 5px rgb(245, 1, 1);
        border: 1px solid #d6d1d1;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-right: auto;
    }

    .sectionContainer{
        width: 100%;
        font-size: 12;
    }

    .products_container{
        width: 100%;
        

    }

    .table {
        width: 100%;
    }

    .tableHead, .tableBody, .totalContainer{
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    table-layout: fixed;
    padding: 5px;
    white-space: normal;
}

    .tableHead th,
    .tableBody td,
    .totalContainer td {
        
        text-align: center;
        padding: 2px; /* Reduced padding for smaller screens */
        font-size: 12px; /* Smaller font size for smaller screens */
    }

    .tableHead th{
        box-shadow: 1px 2px 2px rgb(245, 1, 1); /* Subtle shadow between rows */
        margin-bottom: 10px;
        border: 1px solid #d6d1d1;
    }

    .tableBody td:first-child{
        border: 1px solid #e0e0e0;
        font-weight: bold;
    }

    .totalContainer td{
        box-shadow: 1px 2px 5px rgb(245, 1, 1);
        border: 1px solid #d6d1d1;
    }
    
}