.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* High z-index to ensure it's above other elements */
}

.popup_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 998; /* Slightly lower z-index than the popup */
}

.input{
    display: block;
    border-radius: 10px;
    padding: 5px;

}

.popup_inner {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* Higher z-index than the backdrop */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
    position: relative; /* Positioned relative to the backdrop */
}

.popup_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 0 auto;
    gap: 10px;
}

.onay_button, .iptal_button {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1001; /* Ensure button is on top */
    color: white;
    font-weight: bolder;
    :disabled {
        background-color: #d3d3d3;
        cursor: not-allowed;
    }
}
.onay_button {
    background-color: #09f34ff3;
}
.iptal_button {
    background-color: #f08181;
}




/* Base styles for all buttons */
.polygon_button {
    width: 350px; /* CHANGED: Limit max width */
    height: 120px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
    line-height: 90px; /* Centers text vertically */
    transition: background-color 0.3s ease; /* Smooth transitions */
    margin-bottom: -30px;
    &:hover {
        background-color: orange; /* Change color on hover */
    }

    
}

