.menuRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 68px 0;
    width: 70%;
    margin: auto;
  
    .menuDiv {
      padding: 20px;
      border: 1px solid black;
      font-weight: 600;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        cursor: pointer;
        background-color: rgb(116, 101, 101) !important;
        color: rgb(255, 255, 255);
      }
    }
  
    .inputDiv {
      padding: 20px;
      border: 1px solid black;
      font-weight: 600;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
  
     
       
        background-color: rgb(71, 71, 71) !important;
  
      
  
      .input {
        width: 300px;
        height: 40px;
        font-size: 16px;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
  
      button {
        height: 40px;
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #007bff;
        color: white;
        transition: background-color 0.2s ease-in-out;
  
        &:hover {
          background-color: #0056b3;
          cursor: pointer;
        }
      }
    }
  }
  
 
  .menuRow .col:nth-child(1) .menuDiv {
    background-color: #ffcccc; 
    &:hover {
      background-color: #ff9999; 
    }
  }
  
  .menuRow .col:nth-child(2) .menuDiv {
    background-color: #ccffcc; 
    &:hover {
      background-color: #99ff99; 
    }
  }
  
  .menuRow .col:nth-child(3) .menuDiv {
    background-color: #ccccff; 
    &:hover {
      background-color: #9999ff; 
    }
  }
  
  .menuRow .col:nth-child(4) .menuDiv {
    background-color: #ffffcc; 
    &:hover {
      background-color: #ffff99; 
    }
  }

  
  .menuRow .col:nth-child(5) .menuDiv {
    background-color: #ccffcc; 
    &:hover {
      background-color: #99ff99; 
    }
  }

  
  .menuRow .col:nth-child(6) .menuDiv {
    background-color: #ccccff; 
    &:hover {
      background-color: #9999ff; 
    }
  }


  
  .menuRow .col:nth-child(7) .menuDiv {
    background-color: #ffffcc; 
    &:hover {
      background-color: #ffff99; 
    }
  }
  
  .menuRow .col:nth-child(8) .menuDiv {
    background-color: #e92825; 
    &:hover {
      background-color: #ffff99; 
    }
  }