.main_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
    
}

.filter_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.search_input{
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #706d6d;
}

.clear_button{
    background-color: #d48c8c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #c75f5f;
    }
}

@media screen and (max-width: 768px) {
    .filter_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .clear_button{
        padding: 1px 3px;
        display: flex;
    }
    .search_clear{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .search_input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .start_date{
        display: flex;
        flex-direction: end;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .end_date{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
}



.colum_inner{
    display: flex;
    flex-direction: column;
    border: 2px solid #d48c8c;
    width: 250px;
    padding: 10px;
    justify-content: center;
    margin: 1rem;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 5px;
    }
}


.select{
    border: 1px solid #d48c8c;
}

.table_responsive {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent table cells from wrapping text */
    border-spacing: 0 10px; /* Optional: Adds spacing between table rows */
    border-collapse: separate; /* Ensures spacing is respected */
    padding: 10px;
}

.table_responsive table {
    width: 100%; /* Ensure the table stretches across its container */
    min-width: 1000px; /* Set a minimum width to avoid squashing columns */
    border-spacing: 0;

}

.table_responsive tbody::before {
    content: "";
    display: table-row;
    height: 10px; /* Space between thead and tbody */
}

.table_responsive th, .table_responsive td {
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping in cells */
}

.table_responsive td:last-child:hover{

    background-color: white;
}

.table_responsive th,
.table_responsive td {
    padding-left: 15px; /* Add space at the beginning */
    padding-right: 15px; /* Add space at the end */
}

.table_head , .table_body{
    margin: 0 auto;
}

.processing{
    background-color: #e7f706ad;
    color: #050505;
    font-weight: bolder;
}

.completed{
    background-color: #3ae05e;
    color: white;
    font-weight: bolder;
}

.cancelled{
    background-color: #e05e5e;
    color: white;
    font-weight: bolder;
}

.table_head{
    margin-bottom: 10px;
    background-color: rgba(0, 255, 255, 0.185);
}

.table_body:hover{
    background-color: rgba(0, 255, 255, 0.185);
    cursor: pointer;
}

// .index{
//     background-color: #eec0c075;
// }

@media screen and (max-width: 768px) {
    .table_responsive {
        display: block;
        margin: 5px;
        width: 100%;
        overflow-x: auto; /* Allow horizontal scrolling */
    }

    .table_responsive table {
        min-width: 800px; /* Optional: Ensure table has a minimum width on small screens */
    }
}

.btn_container {
    width: 100%;
}

@media (max-width: 767px) {
    .table th, .table td {
        font-size: 0.50rem;
    }

    .pagination {
        justify-content: center;
    }
}