.role-1 {
  background-color: #71b6d6 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 13px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.role-1:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-2 {
  background-color: #F5F782 !important;	
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-2:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-3 {
  background-color: #B7F782 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-3:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-4 {
  background-color: #f7c082   !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-4:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-5 {
  background-color: #FFAFA9 !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-5:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-6 {
  background-color: #DFB0F1   !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
  
}

.role-6:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-7 {
  background-color: #6998FF !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-7:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.role-8 {
  background-color: #F86A6A !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border: 10px solid white !important;
  font-weight: bold !important;
}

.role-8:hover {
  background-color: white !important;
  color: rgb(216, 5, 5) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.table_row{
  background-color: none !important;
  color: black !important;
  text-align: center !important;
  padding-top: 15px !important;
  border-radius: 50px !important;
  gap: 30px !important;
  cursor: pointer !important;
}


.submit_button:hover{
background-color: rgb(146, 6, 6);
color: white;
border: rgb(146, 6, 6);
}

.menuRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 68px 0;
    width: 70%;
    margin: auto;

    /* Maintain column layout on all screen sizes */
    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 10px;
        padding: 30px 0;
        width: 100%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
        width: 100%;
    }

    @media (max-width: 576px) {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        width: 100%;
        .menuDiv {
            padding: 10px;
            font-size: 14px;
        }
    }

    /* Optional: Set a max height and enable scrolling */
    max-height: 80vh;
    overflow-y: auto;
}

.passwordMenu{
  display: block
}


