@use '@/styles/variables' as *;

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login_container{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(33deg, $clr-white, $clr-sky);
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
    padding: 30px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.group_container{
  width: 405px;
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
  border-radius: 10px; /* Smooth corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center;
  gap: 10px;
}

.input_group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_group label{
    display: block;
    text-align: left;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.input_group input{
    width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}



.login_button {
  width: 150px;
  padding: 10px;
  background-color: rgba($clr-sky, 0.6); /* Blueberry blue */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login_button:hover {
    transform: scale(1.2);
    background-color: rgba($clr-sky, 1);
}

@media screen and (max-width: 930px){
    .login_container{
        max-width: 695px;
        margin-left: 0;
        margin-right: 0;
    }
    .group_container{
        max-width: 450px;
    }

    
    
}

@media screen and (max-width: 768px){
    .group_container{
        width: 100%;
    }
    
}

@media screen and (max-width: 480px){
    .group_container{
        max-width: 325px;
        width: 100%;
    }

    .login_container{
        margin-left: 0;
        margin-right: 0;
    }
    
}