.main_container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
    justify-content: center;
    
}

.row_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.colum_inner{
    display: flex;
    flex-direction: column;
    border: 2px solid #d48c8c;
    width: 250px;
    padding: 10px;
    justify-content: center;
    margin: 1rem;
}

.outer_reset{
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.inner_reset{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #218838;
    }
}

.select{
    border: 1px solid #d48c8c;
}

.eachRow {
    border: 1px solid #d48c8c;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.table_responsive {
    overflow-x: auto;
}

.table tbody td {
    white-space: nowrap;
}

.d-flex.gap-3 {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}

.btn_container {
    width: 100%;
}

@media (max-width: 767px) {
    .table th, .table td {
        font-size: 0.50rem;
    }

    .pagination {
        justify-content: center;
    }
}